* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.content {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* From https://css.glass */
    background: rgba(4, 241, 150, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.colorContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}
body {
    height: 100vh;
    max-height: 100vh;
    background-color: #F4EDED;
    font-family: "Ubuntu", sans-serif;
}
#container {
    margin: 20px;
    display: grid;
    background-color: #FFFFFF;
    width: 60vmin;
    max-width: 60vmin;
    border: 3px solid #161413;
    border-radius: 1.3%;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    flex-grow: 0;
    
}
.button {
    background-color: #161413;
    color: #F4EDED;
    border-radius: 12px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}
.button:hover{
    transform: scale(1.05);
    background-color: #F4EDED;
    color: #161413;
    transition: all 0.5s ease-in-out;
}
#colorPicker {
    width: 50px;
}
#slider {
    width: 150px;
}


#controlButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}
#controlButtons * {
    margin: 0.4vh;
    padding: 0.1vh;
    height: 7vh;
    font-size: 3vh;
}
.sliderDiv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.grid-item {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control-range {
    accent-color: #161413;
}
h1 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 9vmin;
    color: #161413;
}

/* Media styles for different size devices */
@media (max-width: 768px) {
    h1 {
        font-size: 7vmin;
    }

    #container {
        width: 80vmin;
        max-width: 80vmin;
    }

    #controls * {
        font-size: 2.5vh; 
        height: 6vh;      
    }

    .content {
        flex-direction: column-reverse;
    }
}

@media (max-width: 480px) {
    #container {
        width: 90vmin; 
    }

    #controls * {
        font-size: 2vh;
        height: 5vh;
    }

    .content {
        flex-direction: column-reverse;
    }
}