* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #feabfe;
}
#container {
    display: grid;
    background-color: #FFFFFF;
    width: 80vmin;
    max-width: 80vmin;
    border: 3px solid #333;
    border-radius: 1.3%;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    
}
#controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
  }
#controls * {
    margin: 0.5vh;
    padding: 0.3vh;
    height: 7vh;
}
.colorPickerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    
}
.grid-item {
    border: 1px solid #ccc;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
